<configuration>

    <property name="pattern" value="%date{yyyy-MM-dd HH:mm:ss.SSS} [%-5p] [%-25.25thread{24}] %-40.40logger{39}: %msg %throwable %n"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/TextExtraction.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 5 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="at.rovo.textextraction.mss.MaximumSubsequenceSegmentation" level="info" />
    <logger name="at.rovo.textextraction.mss.SemiSupervisedMSS" level="debug" />
    <logger name="at.rovo.textextraction.mss.SupervisedMSS" level="debug" />
    <logger name="at.rovo.textextraction.AbstractTrainer" level="info" />
    <logger name="at.rovo.textextraction.TextExtractor" level="info" />
    <logger name="at.rovo.textextraction.mss.TrainingEntry" level="info" />
    <logger name="at.rovo.Main" level="info" />
    <logger name="at.rovo.textextraction.template.TemplateExtraction" level="debug" />
    <logger name="at.rovo.textextraction.templateIndependent.TemplateIndependentNewsExtractor" level="debug" />
    <logger name="at.rovo.classifier" level="info" />
    <logger name="at.rovo.parser" level="debug" />
    <logger name="at.rovo" level="info" />

    <root level="info" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

</configuration>